@import './variables.scss';

@mixin fadeInAnimation($transitionDelay: 0) {
  &.start {
    opacity: 0;
    visibility: none;
    transition: opacity 700ms ease-in-out;
    transition-delay: $transitionDelay;
  }

  &.enter {
    opacity: 1;
    visibility: visible;
  }
}

@mixin enterAnimation {
  opacity: 0;
  visibility: none;
  transform: translateY(25px);
  transition: opacity 700ms ease-in-out, transform 700ms ease-in-out;

  &.enter {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@mixin listEnterAnimation($translate: 10px, $fromAbove: true) {
  &.start {
    opacity: 0;
    visibility: none;
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
    transform: translateY(if($fromAbove, -$translate, $translate));
  }

  &.enter {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@mixin button {
  display: inline-block;
  color: $text-tertiary;
  padding: 0.25em 1.5em;
  border-radius: $border-radius;
  background-color: $white;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  vertical-align: top;
}
