@import './variables.scss';

.transitionDelay {
  transition-delay: 1000ms;
}

.aboutAside {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headshotContainer {
    max-width: 350px;
    margin-bottom: 1em;

    .headshot {
      filter: grayscale(100%);
      transition: filter 300ms ease-in-out;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }

  .socials {
    display: flex;
    justify-content: center;
  }
}

.aboutContent {
  border-top: 1px solid $white;
  order: 1;

  .readMoreContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .readMore {
    background-color: transparent;
    color: $text-secondary;
    margin: 0 2em 2.25em 0;
    font-weight: 500;
  }

  .secondSection {
    display: none;

    &.display {
      display: block;
    }
  }

  & div {
    flex: 1;
  }
}

@media (min-width: $bp-md) {
  .aboutAside {
    order: 1;

    .headshotContainer {
      width: 100%;
    }
  }
}

@media (min-width: $bp-lg) {
  .aboutContent {
    .firstSection {
      margin-right: 1.5em;
    }

    .readMoreContainer {
      display: none;
    }

    .secondSection {
      display: block;

      &.display {
        display: block;
      }
    }
  }

  .text {
    display: flex;
  }
}

@media (min-width: $container-width) {
  .transitionDelay {
    transition-delay: 500ms;
  }
}
