@import './variables.scss';

.aboutAside {
  order: 2;
  border-top: none !important;

  .headshotContainer {
    max-width: 350px;

    .headshot {
      filter: grayscale(100%);
      transition: filter 300ms ease-in-out;

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}

.aboutContent {
  border-top: 1px solid $white;
  order: 1;
}

@media (min-width: $bp-md) {
  .aboutAside {
    order: 1;

    .headshotContainer {
      width: 100%;
    }
  }
}

@media (min-width: $bp-lg) {
  .aboutContent {
    .firstSection {
      margin-right: 1.5em;
    }
  }

  .text {
    display: flex;
  }
}
