@import './variables.scss';

.subsection {
  margin-bottom: 4em;

  .title {
    margin: 0;
    padding: 1em 0;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
  }

  .table {
    margin-bottom: 2em;

    .leftColumn {
      flex: 0 0 150px;
    }

    .rightColumn {
      flex: 1;
    }

    .heading {
      display: block;
      color: $text-secondary;
      font-weight: 500;
    }
  }
}

@media (min-width: $bp-md) {
  .subsection {
    .title {
      border-top: 1px solid $white;
    }

    .table {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.25em;

      .leftColumn {
        margin-right: 25px;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .subsection {
    .table {
      .leftColumn {
        margin-right: 35px;
      }
    }
  }
}
