@import './variables.scss';

.subsection {
  margin-bottom: 4em;

  .title {
    margin: 0;
    padding: 1em 0;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
  }

  .table {
    margin-bottom: 2em;

    .leftColumn {
      flex: 0 0 150px;
    }

    .rightColumn {
      flex: 1;
    }

    .heading {
      display: block;
      color: $text-secondary;
      font-weight: 500;
    }

    .description {
      margin: 0;
      padding: 0;

      .bullet {
        padding-left: 1.5em;
        margin-bottom: 1em;
        list-style: none;
        position: relative;

        &::before {
          content: '→';
          position: absolute;
          left: 0;
        }
      }
    }
  }
}

@media (min-width: $bp-md) {
  .subsection {
    .title {
      border-top: 1px solid $white;
    }

    .table {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.25em;

      .leftColumn {
        margin-right: 0.0625em;

        &.education {
          margin-right: 1.5625em;
        }
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .subsection {
    .table {
      .leftColumn {
        margin-right: 0.6875em;

        &.education {
          margin-right: 2.1875em;
        }
      }
    }
  }
}
