@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-Light.eot);
  src: url(../../public/fonts/Apercu/Apercu-Light.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-Light.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-Light.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-Light.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-Light.svg#Apercu-Light) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-LightItalic.eot);
  src: url(../../public/fonts/Apercu/Apercu-LightItalic.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-LightItalic.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-LightItalic.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-LightItalic.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-LightItalic.svg#Apercu-LightItalic)
      format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-Regular.eot);
  src: url(../../public/fonts/Apercu/Apercu-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-Regular.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-Regular.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-Regular.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-Regular.svg#Apercu-Regular)
      format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-Italic.eot);
  src: url(../../public/fonts/Apercu/Apercu-Italic.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-Italic.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-Italic.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-Italic.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-Italic.svg#Apercu-Italic) format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-Medium.eot);
  src: url(../../public/fonts/Apercu/Apercu-Medium.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-Medium.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-Medium.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-Medium.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-Medium.svg#Apercu-Medium) format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-MediumItalic.eot);
  src: url(../../public/fonts/Apercu/Apercu-MediumItalic.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-MediumItalic.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-MediumItalic.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-MediumItalic.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-MediumItalic.svg#Apercu-MediumItalic)
      format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-Bold.eot);
  src: url(../../public/fonts/Apercu/Apercu-Bold.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-Bold.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-Bold.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-Bold.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-Bold.svg#Apercu-Bold) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Apercu;
  src: url(../../public/fonts/Apercu/Apercu-BoldItalic.eot);
  src: url(../../public/fonts/Apercu/Apercu-BoldItalic.eot?#iefix)
      format('embedded-opentype'),
    url(../../public/fonts/Apercu/Apercu-BoldItalic.woff2) format('woff2'),
    url(../../public/fonts/Apercu/Apercu-BoldItalic.woff) format('woff'),
    url(../../public/fonts/Apercu/Apercu-BoldItalic.ttf) format('truetype'),
    url(../../public/fonts/Apercu/Apercu-BoldItalic.svg#Apercu-BoldItalic)
      format('svg');
  font-weight: 700;
  font-style: italic;
}
