@import './variables.scss';
@import './mixins.scss';

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $header-height;
  position: fixed;
  top: 0;
  background-color: $black;
  z-index: 9999;
  transition: transform 500ms ease-in-out;
  transform: translate(0);

  &.hide {
    transform: translateY(-100%);
  }
}

.brand {
  display: none;
  color: $text-secondary;
  font-weight: 500;
  @include fadeInAnimation;
}

.contact {
  padding: 0.25em 1.5em;
  border-radius: $border-radius;
  display: none;
  justify-content: center;
  align-items: center;
  @include fadeInAnimation;
}

.transitionDelay {
  transition-delay: 1400ms;
}

@media (min-width: $container-width) {
  .header {
    justify-content: space-between;
  }

  .brand {
    display: block;
  }

  .contact {
    display: flex;
  }
}
