@import './variables.scss';
@import './mixins.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  position: fixed;
  top: 0;
  background-color: $black;
  z-index: 3;
  transition: transform 500ms ease-in-out;
  transform: translate(0);

  &.hide {
    transform: translateY(-100%);
  }
}

.brand {
  color: $text-secondary;
  font-weight: 500;
}

.contact {
  @include button;
  display: none;
}

.brand,
.contact {
  @include fadeInAnimation;
}

@media (min-width: $container-width) {
  .contact {
    display: flex;
  }

  .brand,
  .contact {
    @include fadeInAnimation(1400ms);
  }
}
