@import './variables.scss';
@import './mixins.scss';

.nav {
  display: none;
}

.list {
  list-style-type: none;
  display: flex;
  font-weight: 400;

  .item {
    color: $nav-link-inactive;
    margin-right: 5em;
    @include listEnterAnimation;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: $nav-link-active;
    }

    &.inactive {
      color: $nav-link-inactive;
    }
  }
}

@media (min-width: $container-width) {
  .nav {
    display: block;
    @include fadeInAnimation;
  }
}
