@import './variables.scss';

.nav {
  display: none;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 400;

  .item {
    color: $nav-link-inactive;
    margin-right: 5em;

    &.active {
      color: $nav-link-active;
    }
  }
}

@media (min-width: $container-width) {
  .nav {
    display: block;
  }
}
