@import './variables.scss';

.table {
  margin-bottom: 2em;

  .leftColumn {
    flex: 0 0 175px;

    .type {
      font-weight: 400;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }

  .rightColumn {
    flex: 1;

    .titleLinksContainer {
      display: flex;
      align-items: center;
    }

    .title {
      font-weight: 400;
      color: $text-secondary;
      margin-right: 0.75em;
    }

    .icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $nav-link-inactive;
      margin-right: 0.75em;

      &:hover {
        color: $nav-link-active;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.25em;

    .leftColumn {
      margin-right: 25px;

      .type {
        font-size: 1rem;
        text-transform: none;
      }
    }
  }
}

@media (min-width: $bp-lg) {
  .table {
    .leftColumn {
      margin-right: 35px;
    }
  }
}
