@import './variables.scss';
@import './mixins.scss';

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms ease-in-out; // should match ms in component
  background-color: $sidebar-bg;
  display: none;
  align-items: center;
  padding-left: 2em;
  z-index: 999;

  &.display {
    display: flex;
  }

  &.open {
    opacity: 1;
  }

  .list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.75rem;

    .item {
      color: $nav-link-inactive;
      margin-bottom: 0.2em;
      @include listEnterAnimation($translate: 25px, $fromAbove: false);

      &.active {
        color: $nav-link-active;
      }

      &.inactive {
        color: $nav-link-inactive;
      }
    }
  }
}

@media (min-width: $bp-md) {
  .nav {
    .list {
      font-size: 2rem;
    }
  }
}

@media (min-width: $container-width) {
  .nav {
    &.display {
      display: none;
    }
  }
}
