@import './variables.scss';
@import './mixins.scss';

.button {
  padding: 15px 0 15px 15px;
  border: none;
  background-color: transparent;
  @include fadeInAnimation;

  &.transitionDelay {
    transition-delay: 1400ms;
  }

  .iconLine {
    display: block;
    width: 25px;
    height: 2px;
    background-color: $white;
    transition: transform 300ms ease-in-out;
    transform-origin: 0px;
    margin: 6px 0;
  }

  &.open {
    .top {
      transform: translateY(-5px) rotateZ(45deg);
    }

    .bottom {
      transform: translateY(5px) rotateZ(-45deg);
    }
  }
}

@media (min-width: $container-width) {
  .button {
    display: none;
  }
}
