@import './variables.scss';

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  color: $nav-link-inactive;
  margin-right: 5em;
}

.nav__link-active {
  color: $nav-link-active;
}

@media (min-width: $container-width) {
  .nav {
    display: none;
  }
}
