@import './variables.scss';

.skillsContent {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 2em;
  overflow: scroll;

  & div {
    min-width: 8em;
  }

  .skillTitle {
    padding: 1em 0;
    font-size: 1rem;
    font-weight: 500;
    color: $white;
  }

  .skillList {
    list-style-type: none;
  }
}

@media (min-width: $bp-md) {
  .skillTitle {
    border-top: 1px solid $white;
  }
}

@media (min-width: $bp-lg) {
  .skillsContent {
    gap: 4em;
  }
}
