/* breakpoints */
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;

/* colors */
$black: #000;
$white: #fff;
$light-grey: #999;

/* ui colors */
$text-color: $white;
$background-page: $black;
$nav-link-active: $white;
$nav-link-inactive: $light-grey;

/* misc ui */
$font-size-reg: 20px;
$container-width: 1300px;
